<!-- Gallery Section -->
<section id="gallery" class="wellness-section">
  <h2><%= t('hush.wellness.nav.gallery') %></h2>

  <div class="gallery-grid">
    <div class="gallery-item">
      <img src="/images/section-pics/gallery-18.png" alt="<%= t('hush.wellness.gallery.before_after_alt') %>" loading="lazy">
    </div>
    <div class="gallery-item">
      <img src="/images/section-pics/gallery-17.png" alt="<%= t('hush.wellness.gallery.waxing_treatment_alt') %>" loading="lazy">
    </div>
    <div class="gallery-item">
      <img src="/images/section-pics/gallery-16.png" alt="<%= t('hush.wellness.gallery.salon_interior_alt') %>" loading="lazy">
    </div>
    <div class="gallery-item">
      <img src="/images/section-pics/gallery-19.png" alt="<%= t('hush.wellness.gallery.relaxing_atmosphere_alt') %>" loading="lazy">
    </div>
    <div class="gallery-item">
      <img src="/images/section-pics/gallery-20.png" alt="<%= t('hush.wellness.gallery.professional_tools_alt') %>" loading="lazy">
    </div>
    <div class="gallery-item">
      <img src="/images/section-pics/gallery-21.png" alt="<%= t('hush.wellness.gallery.beauty_treatment_alt') %>" loading="lazy">
    </div>
  </div>
</section>
