<!-- FAQ Section -->
<section id="faq" class="wellness-section">
  <h2><%= t('hush.wellness.faq.title') %></h2>

  <div class="faq-container">
    <div class="faq-item" onclick="toggleFaq(this)">
      <div class="faq-question">
        <span><%= t('hush.wellness.faq.q1_question') %></span>
        <span>+</span>
      </div>
      <div class="faq-answer">
        <p><%= t('hush.wellness.faq.q1_answer') %></p>
      </div>
    </div>

    <div class="faq-item" onclick="toggleFaq(this)">
      <div class="faq-question">
        <span><%= t('hush.wellness.faq.q2_question') %></span>
        <span>+</span>
      </div>
      <div class="faq-answer">
        <p><%= t('hush.wellness.faq.q2_answer') %></p>
      </div>
    </div>

    <div class="faq-item" onclick="toggleFaq(this)">
      <div class="faq-question">
        <span><%= t('hush.wellness.faq.q3_question') %></span>
        <span>+</span>
      </div>
      <div class="faq-answer">
        <p><%= t('hush.wellness.faq.q3_answer') %></p>
      </div>
    </div>

    <div class="faq-item" onclick="toggleFaq(this)">
      <div class="faq-question">
        <span><%= t('hush.wellness.faq.q4_question') %></span>
        <span>+</span>
      </div>
      <div class="faq-answer">
        <p><%= t('hush.wellness.faq.q4_answer') %></p>
      </div>
    </div>

    <div class="faq-item" onclick="toggleFaq(this)">
      <div class="faq-question">
        <span><%= t('hush.wellness.faq.q5_question') %></span>
        <span>+</span>
      </div>
      <div class="faq-answer">
        <p><%= t('hush.wellness.faq.q5_answer') %></p>
      </div>
    </div>

    <div class="faq-item" onclick="toggleFaq(this)">
      <div class="faq-question">
        <span><%= t('hush.wellness.faq.q6_question') %></span>
        <span>+</span>
      </div>
      <div class="faq-answer">
        <p><%= t('hush.wellness.faq.q6_answer') %></p>
      </div>
    </div>

    <div class="faq-item" onclick="toggleFaq(this)">
      <div class="faq-question">
        <span><%= t('hush.wellness.faq.q7_question') %></span>
        <span>+</span>
      </div>
      <div class="faq-answer">
        <p><%= t('hush.wellness.faq.q7_answer') %></p>
      </div>
    </div>

    <div class="faq-item" onclick="toggleFaq(this)">
      <div class="faq-question">
        <span><%= t('hush.wellness.faq.q8_question') %></span>
        <span>+</span>
      </div>
      <div class="faq-answer">
        <p><%= t('hush.wellness.faq.q8_answer') %></p>
      </div>
    </div>

    <div class="faq-item" onclick="toggleFaq(this)">
      <div class="faq-question">
        <span><%= t('hush.wellness.faq.q9_question') %></span>
        <span>+</span>
      </div>
      <div class="faq-answer">
        <p><%= t('hush.wellness.faq.q9_answer') %></p>
      </div>
    </div>

    <div class="faq-item" onclick="toggleFaq(this)">
      <div class="faq-question">
        <span><%= t('hush.wellness.faq.q10_question') %></span>
        <span>+</span>
      </div>
      <div class="faq-answer">
        <p><%= t('hush.wellness.faq.q10_answer') %></p>
      </div>
    </div>
  </div>
</section>
