<%= render 'wellness_meta_styles' %>

<div class="wellness-page">
  <%= render 'wellness_header' %>
  <%= render 'wellness_mobile_menu' %>
  <%= render 'wellness_scroll_to_top' %>
  <%= render 'wellness_hero' %>

  <!-- Main Content -->
  <main>
    <div class="container">
      <%= render 'wellness_services' %>
      <%=
      #render 'wellness_image'
      %>
      <%= render 'wellness_why_waxing' %>
      <%= render 'wellness_how_it_works' %>
      <%=
      # render 'wellness_techniques'
      %>
      <%=
      # render 'wellness_common_mistakes'
      %>
      <%= render 'wellness_pricing' %>
      <%= render 'wellness_gallery' %>
      <%= render 'wellness_faq' %>
      <%= render 'wellness_testimonials' %>
      <%= render 'wellness_contact' %>
    </div>
  </main>

  <%= render 'wellness_footer' %>
</div>

<%= render 'wellness_scripts' %>
