<%
  backgrounds = Constants::STATUS_BADGE_BACKGROUND


  background = :info

  @options.invert.each do |values, type|
    if [values].flatten.map { |value| value }.include? @value
      background = type.to_sym
      next
    end
  end
  text_color = background == :light ? "text-gray-400" : "text-white"
  classes =  background == :light ? "border border-gray-500 " : ""
  classes += backgrounds[background].present? ? "#{backgrounds[background]} #{text_color}" : "bg-blue-400 #{text_color} "

  max = 10
  if @shorten
    if @i18n_value.length > max
      classes += " cursor-pointer "
      title = @i18n_value
      @i18n_value = "#{@i18n_value[0..max-1]}.."
      tooltip_enabled = true
    elsif @i18n_value_tooltip
      classes += " cursor-pointer "
      title = @i18n_value_tooltip
      tooltip_enabled = true
    end
  end
%>

<% if @link_to %>
<a href="<%=@link_to%>">
<% end %>

  <span data-tippy="<%= tooltip_enabled ? "tooltip" : "" %>" title="<%= title %>"
    class=" whitespace-nowrap  text-xs uppercase font-semibold inline-flex items-center px-2 py-1 rounded <%= classes %>">
  <%= @i18n_value %>
  </span>

<% if @link_to %>
</a>
<% end %>


